body {
  background-color: powderblue;
}
h1 {
  color: blue;
}
p {
  color: red;
}


<!-- Sidebar -->
<div class="w3-sidebar w3-bar-block w3-card" style="width:25%;right:0;background-color:powderblue;">
  <h3 class="w3-bar-item">Menu</h3>
  <a href="index.html" class="w3-bar-item w3-button">Home</a>
  <a href="install_windows7.html" class="w3-bar-item w3-button">Install Windows 7</a>
  <a href="#" class="w3-bar-item w3-button">Link 3</a>

</div>
