 /* Style the dropdown */
details {
  display: inline-block;
  position: relative;
}

details > summary {
  padding: 0.5rem;
  background: silver;
  cursor: pointer;
}

details > ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  border: 1px solid silver;
  padding: 0.5rem;
}

details[open] > ul {
  display: block;
}
